-
  const dataCartItems = [
    {
      image: './assets/images/products/thumb/img-1.jpg',
      name: 'Áo sơ mi Nam',
      price: '120.000đ',
      link: '#',
    },
    {
      image: './assets/images/products/thumb/img-1.jpg',
      name: 'Áo sơ mi Nam',
      price: '120.000đ',
      link: '#',
    }
  ]