-
  const dataChuyenHang = [
    {
      title: "Mua sắm trực tuyến",
      link: '#',
    },
    {
      title: "Đến từ chúng tôi gửi đến",
      link: '#',
    },
    {
      title: "Chính sách vận chuyển",
      link: '#',
    },
    {
      title: "Vận chuyển thông tin",
      link: '#',
    },
  ]

-
  const dataHoTro = [
    {
      title: "Câu chuyện của chúng ta",
      link: '#',
    },
    {
      title: "Thanh toán an toàn",
      link: '#',
    },
    {
      title: "Tùy chọn vận chuyển",
      link: '#',
    },
    {
      title: "Chính sách vận chuyển",
      link: '#',
    },
  ]

-
  const dataThongTin = [
    {
      title: "Về chúng tôi",
      link: '#',
    },
    {
      title: "Điều khoản và Điều kiện",
      link: '#',
    },
    {
      title: "Chính sách riêng tư",
      link: '#',
    },
    {
      title: "Đơn đặt hàng và Returns",
      link: '#',
    },
  ]

-
  const dataMyAccount = [
    {
      title: "Xem giỏ hàng",
      link: '#',
    },
    {
      title: "Sản phẩm yêu thích",
      link: '#',
    },
    {
      title: "Kiểm tra",
      link: '#',
    },
    {
      title: "Theo dõi đặt hàng của tôi",
      link: '#',
    },
  ]