// Color
$color-primary: #789629;
$color-black: #000000;
$color-dim-gray: #737373;
$color-gray: #cbd3df;
$color-white: #ffffff;
$color-yellow: #e3ce33;
$color-blue: #88d8da;
$color-pink: #F098BF;

// Font Family
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Lobster', cursive;